src/main/resources/xsd/processvariable.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="variables">
    <xs:element name="process-variable" minOccurs="0" maxOccurs="unbounded"> 
	  <xs:complexType>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="label" type="xs:string" use="required" />
		<xs:attribute name="default-value" type="xs:string" />
		<xs:attribute name="visible" type="xs:boolean" default="false" />
		<xs:attribute name="panel-visible" type="xs:boolean" default="false" />
		<xs:attribute name="order" type="xs:integer" />
	  </xs:complexType>
	</xs:element>
  </xs:element>
</xs:schema>